*,
*:after,
*:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
h1 {
  font-size: 2.8rem;
  font-weight: 700;
}
h3 {
  font-size: 2.3rem;
  font-weight: 600;
}
h5 {
  font-size: 1.3rem;
  font-weight: 600;
}
p,
a {
  font-size: 1rem;
}
body {
  margin: 0;
  line-height: 1.5;
}

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  //font-family: Segoe UI, SegoeUI !important;
}

.app-root {
  display: flex;
}

html {
  overflow-y: scroll;
}

.header-logo {
  width: 50px;
}

.header-text {
  text-decoration: none;
  padding-left: 10px;
}

.link {
  text-decoration: none;
  margin-right: 10px;
}

.link:hover {
  font-size: 1.2rem;
  animation: fadein 5s;
  animation-delay: 1s;
}

.container {
  width: 95%;
  margin: auto;
  padding: 1rem 0rem;
}

.equipment-container {
  width: 70%;
  margin: auto;
  padding: 1rem 0rem;
}

.container-area {
  width: 60% !important;
  margin: auto !important;
  padding: 1rem;
}

.header {
  position: relative;
  text-align: center;
  background: -o-linear-gradient(
    30deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: inherit;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 100px;
}

.parallax > use {
  -webkit-animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

@-webkit-keyframes moveForever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes moveForever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}

.small-svg {
  align-items: center;
  width: 250px;
}

.brand {
  border: 3px solid #41455b;
  border-radius: 1rem;
  padding: 0rem 2rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}

.brand:hover {
  background-color: #cff4ee;
}

.brand-image img {
  width: 300px;
}

.heading {
  text-align: center;
}

.brand-text {
  justify-content: center;
  align-items: center;
}

.service-card {
  border: 3px solid #41455b;
  border-radius: 1rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1rem 0rem;
}

.service-card:hover {
  background-color: #cff4ee;
  color: #000000;
}

.card-img {
  width: 10rem;
  height: 10rem;
  background-color: #ced7e7;
  border-radius: 100px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-img img {
  width: 80px;
  padding-top: 40px;
  text-align: center;
}
.card-text {
  color: #474747;
}
.card-button {
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 2rem;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #ced7e7;
  transition: all 0.3s ease;
}
.card-button:hover {
  font-size: 1.4rem;
  border: 3px solid #41455b;
  border-radius: 1rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}

.equipment-image img {
  width: 150px;
}

.contact-heading-container {
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-box-large {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  padding: 1.5rem;
  text-align: center;
}

.contact-box-small {
  padding: 1rem;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.contact-box-large:hover,
.contact-box-small:hover {
  scale: 1.1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8) !important;
}

.rounded-icon-border {
  background-color: darkgray;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  padding: 10px;
}

.equipment-title {
  text-decoration: none;
}
.equipment-category {
  font-size: 0.8rem;
  background-color: darkgray;
  border-radius: 15px;
  padding: 5px;
  color: white;
}
.equipment-brand {
  font-size: 0.8rem;
  background-color: rgb(23, 186, 186);
  border-radius: 15px;
  padding: 5px;
  color: white;
  margin-left: 12px;
}
.equipment-price {
  font-weight: bolder;
  color: orange;
  padding-top: 16px;
  text-align: right !important;
}

.news-wrapper {
  background-color: #ced7e7;
  margin-bottom: 2rem;
}

.news-image {
  margin-left: auto;
}
.footer-wrapper {
  clear: both;
  background-color: rgb(49, 49, 49);
  color: white;
}

.footer-links {
  padding: 0.4rem 1rem;
}

.footer-social {
  background-color: #1976d2;
  text-align: end;
  padding: 0.3rem 2rem;
}

.footer-copyright {
  border-top: 1px solid white;
  padding: 0.2rem;
  text-align: center;
}
